@import url("https://fonts.googleapis.com/css?family=Raleway");
:root {
  --glow-color: hsl(0, 95%, 57%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: Samarkan;
  src: url("../fonts/samarkan/SAMAN___.TTF");
}
@font-face {
  font-family: Doctor;
  src: url("../fonts/custom/Doctor\ Glitch.otf");
}
@font-face {
  font-family: IBM;
  src: url("../fonts/custom/Flexi_IBM_VGA_False.ttf");
}
@font-face {
  font-family: IBM437;
  src: url("../fonts/custom/Flexi_IBM_VGA_False_437.ttf");
}
@font-face {
  font-family: aesthico;
  src: url("../fonts/custom/Aesthico\(Demo\)-Regular.ttf");
}
@font-face {
  font-family: lt_regular;
  src: url("../fonts/custom/lt_seada/LTSaeada-Regular.otf");
}
@font-face {
  font-family: lt_bold;
  src: url("../fonts/custom/lt_seada/LTSaeada-Bold.otf");
}
@font-face {
  font-family: lt_thin;
  src: url("../fonts/custom/lt_seada/LTSaeada-Thin.otf");
}
:root {
  --primary: #fe0000;
  --light: #f1f8ff;
  --dark: #251c1c;
  --clr: #fe0000;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(58, 58, 58);
}

*::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 20px;
  border: 1px solid white;
}

.txt-shadow-black {
  text-shadow: 5px 5px 12px black;
}
.txt-shadow-white {
  text-shadow: 5px 5px 12px white;
}

.main-contents {
  background: rgb(232, 0, 20);
  background: linear-gradient(
    90deg,
    rgba(232, 0, 20, 1) 0%,
    rgba(155, 1, 23, 1) 32%,
    rgba(0, 0, 0, 1) 76%,
    rgba(0, 0, 0, 1) 100%
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ff-secondary {
  font-family: "Pacifico", cursive;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.sanskrit-name {
  font-family: "Samarkan";
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
}

/* FOR REG POPUP */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.hide {
  display: none !important;
}

.overlay-popup {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  height: auto;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  border-radius: 17px;
  text-align: center;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  padding: 5vh 0;
  z-index: 10;
  transform: all 0.2s ease-in-out;
  backdrop-filter: blur(9px);
}

.pop-txt1 .flicker-text {
  font-family: "Sacramento", cursive;
  color: #fee;
  text-shadow: 0 -100px 100px, 0 0 2px, 0 0 1em #ff0000, 0 0 0.3em #ff0404,
    0 0 0.1em #ff0909;
}

.pop-txt1 .flicker-text {
  animation: blink linear infinite 2s;
}

.pop-txt1:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #333;
  }

  80% {
    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #333;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #333;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
.pop-flicker-text {
  font-size: 24px;

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: flciker 8s infinite;
  -webkit-animation: flicker 5s infinite;
  letter-spacing: 5px;
}
@-webkit-keyframes flicker {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes flicker {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
.popup-container:hover {
  border: 2px solid #fe0101;
  transform: all 0.2s ease-in-out;
}

.popup-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 42px;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease-in-out;
}

.close-btn:hover {
  color: #fe0101;
  transition: all 0.2s ease-in-out;
}

.pop-txt1 {
  font-family: "Sacramento", cursive;
  margin: 5vh 5vw;
  color: #fff;
}

.pop-txt2 {
  font-family: "Sacramento", cursive;
  margin: 5vh 5vw;
  color: #fff;
}
.glowing-btn {
  position: relative;
  color: var(--light);
  cursor: pointer;
  padding: 12px 20px;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 0.5em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--light);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--light);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--light);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 0.6em;
  }
}

/*** Button ***/
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
  font-size: 25px;
  background-color: var(--primary);
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}

/*** Navbar ***/
.navbar-dark .navbar-nav {
  position: relative;
  margin-left: 125px;
  padding: 55px 0;
  font-size: 25px;
  color: var(--dark) !important;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  transition: 0.5s;
}
.logo-text {
  color: var(--light);
  font-size: 35px;
  text-transform: uppercase;
  padding-top: 10px;
  font-family: Doctor;
  font-weight: bold;
}
.nav-link {
  position: relative;
  margin-left: 125px;
  padding: 55px 0;
  font-size: 25px;
  color: var(--light) !important;
  text-transform: uppercase;
  font-weight: 900;
  outline: none;
  transition: 0.5s;
  font-family: IBM;
}
.nav-btn {
  position: relative;
  background: #fc0000;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
  border-radius: 5px;
  margin-left: 100px;
  font-family: IBM;
}
.nav-btn:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  border-radius: 5px;
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

.nav-btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #1d1b1b;
  border-radius: 5px;
}

.nav-btn span {
  position: relative;
  z-index: 1;
  border-radius: 5px;
}
.nav-btn i {
  position: absolute;
  inset: 0;
  display: block;
}

.nav-btn i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;

  transition: 0.2s;
}

.nav-btn:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.nav-btn i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #fdfdfd;
  transition: 0.2s;
}

.nav-btn:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
  padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
  max-height: 60px;
  transition: 0.5s;
}

.sticky-top.navbar-dark .navbar-brand img {
  max-height: 45px;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-dark {
    position: relative;
  }

  .navbar-dark .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .navbar-dark .navbar-nav .nav-link,
  .sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
  }

  .navbar-dark .navbar-brand img {
    max-height: 45px;
  }
}

@media (min-width: 992px) {
  .navbar-dark {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: transparent !important;
  }

  .sticky-top.navbar-dark {
    position: fixed;
    background: var(--dark) !important;
  }
}

/*** Hero Header ***/
.first-container {
  background-color: var(--primary);
}
.lan-btn {
  position: relative;
  background: var(--light);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
  border-radius: 5px;
  font-family: aesthico;
}
.lan-btn:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--primary);
  border-radius: 5px;
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

.lan-btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #1d1b1b;
  border-radius: 5px;
}

.lan-btn span {
  position: relative;
  z-index: 1;
  border-radius: 5px;
}
.lan-btn i {
  position: absolute;
  inset: 0;
  display: block;
}

.lan-btn i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--primary);
  background: #272822;

  transition: 0.2s;
}

.lan-btn:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.lan-btn i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--primary);
  background: #df0909;
  transition: 0.2s;
}

.lan-btn:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

.underlined {
  /*   background: red; */
  position: relative;
}
.underline-clip:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(0, 0%, 0%);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}
.motivation {
  text-shadow: 5px 5px 12px black;
  font-size: 35px;
  font-family: lt_regular;
  text-transform: capitalize;
}
.motivation-sub {
  text-shadow: 5px 5px 12px black;
  font-size: 25px;
  font-family: lt_regular;
}
.hero-container {
  position: relative;
  padding: 50px 0;
  text-align: center;
}

/* .environment {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  filter: blur(5px);
} */
.hero {
  font-size: clamp(40px, 10vw, 100px);
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 10px;

  /* Bright things in dark environments usually cast that light, giving off a glow */
  filter: drop-shadow(0 1px 3px);
}

.demo {
  height: 100px;
  background: #fff;
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}

.hero-header {
  background: rgb(232, 0, 20);
  background: linear-gradient(
    90deg,
    rgba(232, 0, 20, 1) 0%,
    rgba(155, 1, 23, 1) 32%,
    rgba(0, 0, 0, 1) 76%,
    rgba(0, 0, 0, 1) 100%
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header .mandal-1 {
  animation: imgRotate 30s linear infinite;
  size: 100%;
  z-index: 2;
}
@media (max-width: 768px) {
  .hero-header .mandal-1 {
    display: none;
  }
}
.hero-header .mandal-2 {
  animation: imgRotate 50s linear infinite;
  z-index: 1;
}

@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}

/*** Section Title ***/
.section {
  color: var(--light);
}

.section-title {
  position: relative;
  display: inline-block;
  color: var(--light);
}

.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}

.mandal-1 {
  opacity: 1;
}
/* counter  */
.counter {
  font-family: IBM;
}

/* about us  */
.sanskrit-name-abt {
  font-family: "Samarkan";
  /* font-size: 1.3vw; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  font-size: 45px;
}
.abt-btn {
  position: relative;
  background: var(--light);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
  border-radius: 5px;
  font-family: aesthico;
}
.abt-btn:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--primary);
  border-radius: 5px;
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

.abt-btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #1d1b1b;
  border-radius: 5px;
}

.abt-btn span {
  position: relative;
  z-index: 1;
  border-radius: 5px;
}
.abt-btn i {
  position: absolute;
  inset: 0;
  display: block;
}

.abt-btn i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--primary);
  background: #272822;

  transition: 0.2s;
}

.abt-btn:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.abt-btn i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--primary);
  background: #df0909;
  transition: 0.2s;
}

.abt-btn:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}
.abt-header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 45px;
}
.abt-sub {
  font-family: lt_regular;
}

/* overlay css  */
#readmore-card-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 7;
}

.card-readmore-overlay {
  box-sizing: border-box;
  height: auto;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin: 0 5vw;
  padding: 5vh 0;
  z-index: 6;
}

.card-readmore-overlay:hover {
  border: 2px solid #ff0000;
  box-sizing: border-box;
}

.close-btn {
  position: absolute;
  /* top: 10px; */
  right: 10px;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 17px;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.title-text-readmore h3 {
  font-family: "Samarkan";
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1vh;
  padding: 0 20px;
}

#mca-list {
  margin-top: 4vh;
  margin-right: 2vh;
  max-width: 45vw;
}

.title-text-readmore p {
  font-family: "IBM";
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1vh;
}

.title-text-readmore li {
  font-family: "Graduate";
  color: #fff;
  text-align: left;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1vh;
  margin-left: 5vh;
  padding: 0.4rem;
}

.centering-heads {
  display: flex;
  align-items: center;
  justify-content: center;
}

#heads-text {
  font-family: "IBM";
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.event-heads-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5vh;
  padding: 0 12px;
}

.event-head1-container {
  display: flex;
  flex-direction: column;
}

.event-head2-container {
  display: flex;
  flex-direction: column;
}

.event-head1-phone {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 0.5vw;
}
.event-head1-headname {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#event-head1-name {
  font-family: "IBM";
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 0.5vw;
}

#event-head1-phn-number {
  font-family: "IBM";
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 0.5vw;
}

#event-head2-name {
  font-family: "IBM";
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 0.5vw;
}

#event-head2-phn-number {
  font-family: "IBM";
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 0.5vw;
}

/*** Youtube Video ***/
.video {
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(15, 23, 43, 0.1), rgba(15, 23, 43, 0.1)),
    url(../img/video.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video .btn-play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--primary);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--primary);
  border-radius: 50%;
  transition: all 200ms;
}

.video .btn-play img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video .btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid var(--dark);
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

#videoModal {
  z-index: 99999;
}

#videoModal .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 60px auto 0 auto;
}

#videoModal .modal-body {
  position: relative;
  padding: 0px;
}

#videoModal .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  background: #000000;
  opacity: 1;
}

/*** Team ***/
.staff-container {
  display: flex;

  justify-content: center;
}
.staff-item {
  margin-left: 30px;
}
.committee-header {
  font-family: IBM;
}
.team-item {
  background: rgba(54, 54, 54, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 10px 5px 12px rgb(255, 255, 255, 0.5);
  /* height: calc(100% - 38px); */
  transition: 0.5s;
  padding-bottom: 20px;
}

.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

/* .team-item:hover {
  height: 100%;
} */

.team-item .btn {
  border-radius: 38px 38px 0 0;
}
.staff-2 {
  align-items: center;
}
/* for smaller screen  */
@media (max-width: 800px) {
  .staff-container {
    flex-wrap: wrap;
    width: 100%;
  }

  .staff-item {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .committee-header {
    font-size: 1.5rem;
  }

  .team-item {
    height: auto;
  }

  .team-item img {
    transform: none;
  }

  .team-item .btn {
    border-radius: 0;
  }

  .staff-2 {
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .committee-header {
    font-size: 1.2rem;
  }
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel
  .owl-item.center
  .testimonial-item
  .bar-btw
  .view-more-btn
  * {
  transition: 0.5s;
}

.bar-btw {
  height: 1vh;
  width: 100%;
  background-color: #313131;
  /* margin: 2vh 0; */
  border-radius: 5px;
  border-color: 1px solid white;
  box-shadow: 2px 5px 10px whitesmoke;
  transition: 0.2s ease-in-out;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.view-more-btn {
  width: 12rem;
  height: auto;
}

button.view-more-btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ffffff;
  border-radius: 1.625rem;
}

button.view-more-btn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #000000;
}

button.view-more-btn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.view-more-btn .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #000000;
  border-right: 0.125rem solid #000000;
  transform: rotate(45deg);
}

button.view-more-btn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button.view-more-btn:hover .circle {
  width: 100%;
}

button.view-more-btn:hover .circle .icon.arrow {
  background: #000000;
  transform: translate(1rem, 0);
}

button.view-more-btn:hover .button-text {
  color: #000000;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--primary) !important;
  border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: var(--light) !important;
}
.testimonial-carousel .owl-item.center .testimonial-item .bar-btw {
  height: 1vh;
  width: 100%;
  background-color: #ffffff;
  margin: 2vh 0;
  border-radius: 5px;
  border-color: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 5px 10px black;
}

.testimonial-carousel .owl-item.center .testimonial-item .view-more-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
}

.testimonial-carousel .owl-item.center .testimonial-item .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ffffff;
  border-radius: 1.625rem;
}
.testimonial-carousel .owl-item.center .testimonial-item .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #000000;
}

/* Ensure only arrowhead is visible when centered */
.testimonial-carousel .owl-item.center .testimonial-item .icon .arrow {
  left: 0 !important; /* Hide the arrow shaft */
  width: 0 !important; /* Set the width of the shaft to 0 */
  height: 0 !important; /* Set the height of the shaft to 0 */
  background: none !important; /* Ensure no background is applied */
}

.testimonial-carousel .owl-item.center .testimonial-item .icon .arrow::before {
  position: absolute;
  content: ""; /* The arrowhead content */
  top: 0; /* Align the arrowhead */
  right: 0.5rem; /* Adjust position */
  width: 0.5rem; /* Set the size of the arrowhead */
  height: 0.5rem;
  border-top: 0.125rem solid #000000; /* Arrowhead border color */
  border-right: 0.125rem solid #000000; /* Arrowhead border color */
  transform: rotate(45deg); /* Keep the 45-degree rotation for the arrowhead */
}

.testimonial-carousel
  .owl-item.center
  .testimonial-item
  .view-more-btn.button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.testimonial-carousel
  .owl-item.center
  .testimonial-item
  .view-more-btn:hover
  .circle {
  width: 100%;
}
.testimonial-carousel
  .owl-item.center
  .testimonial-item
  .view-more-btn:hover
  .circle
  .icon.arrow {
  background: #000000;
  transform: translate(1rem, 0);
}

.testimonial-carousel
  .owl-item.center
  .testimonial-item
  .view-more-btn:hover
  .button-text {
  color: #000000 !important;
  font-weight: 700;
  text-transform: uppercase;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #cccccc;
  border-radius: 15px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}

/* social div  */
.social-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 150px; /* Adds gap from the top */
}
.fa-brands {
  line-height: inherit;
}
.social-icon-ul {
  position: relative;
  display: flex;
  padding-right: 2rem;
}
.social-icon-ul li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}
.social-icon-ul li a {
  text-decoration: none;
}
.social-icon-ul li a .fa-brands {
  font-size: 3em;
  color: #fff;
}
.social-icon-ul li a::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-icon-ul li:nth-child(1) a::before {
  content: "\f16d";
  background-image: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 4px solid #dc2743;
}
.social-icon-ul li:nth-child(2) a::before {
  content: "\f232";
  color: #25d366;
  border-bottom: 4px solid #25d366;
}

.social-icon-ul li:nth-child(3) a::before {
  content: "\f167";
  color: red;
  border-bottom: 4px solid red;
}
.social-icon-ul li:hover a::before {
  height: 100%;
}
/* map div  */
#Map {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}
.map-div {
  box-sizing: border-box;
  height: 50vh;

  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;

  display: flex;
  flex-direction: column;
}
.map-iframe {
  border-radius: 11px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*** Footer ***/
#waterdrop {
  height: 30px;
}

#waterdrop canvas {
  bottom: -70px !important;
}
.footer-container {
  background: rgb(36, 36, 36);
}
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
