/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
:root {
  --primary: #fe0000;
  --light: #f1f8ff;
  --dark: #251c1c;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.6;
}

/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #fd2121, #0a0a0a);
  color: -o-linear-gradient(left, #fd2121, #0a0a0a);
  color: -moz-linear-gradient(left, #fd2121, #0a0a0a);
  color: linear-gradient(left, #fd2121, #0a0a0a);
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}

textarea:-moz-placeholder {
  color: #adadad;
}

textarea::-moz-placeholder {
  color: #adadad;
}

textarea:-ms-input-placeholder {
  color: #adadad;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #ffffff;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #ffffff;
  line-height: 1.5;
  text-decoration: none;
  font-weight: bold;
}
.txt2:hover {
  color: #0a0a0a;
}
.vtxt1 {
  font-family: Poppins-Regular;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  line-height: 1.5;
}

.vtxt2 {
  font-family: Poppins-Regular;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  line-height: 1.5;
  text-decoration: none;
  margin-left: 90px;
  font-weight: bold;
}
.vtxt2:hover {
  color: #0a0a0a;
}
.vrtxt2 {
  font-family: Poppins-Regular;
  margin-top: 8px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  line-height: 1.5;
  text-decoration: none;
  font-weight: bold;
}
.vrtxt2:hover {
  color: #0a0a0a;
}
/*//////////////////////////////////////////////////////////////////
[ login ]*/

/* loader  */
.loader,
#loader-lottie-div-payment {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  display: none;
  z-index: 9999;
}
.limiter {
  z-index: 1;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(232, 0, 20);
  /* background: linear-gradient(
    90deg,
    rgba(232, 0, 20, 1) 0%,
    rgba(155, 1, 23, 1) 32%,
    rgba(0, 0, 0, 1) 76%,
    rgba(0, 0, 0, 1) 100%
  ); */
  background-image: url("");
  justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 15px;
  z-index: -1;
}

/* .container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
} */
.wrap-login100 {
  height: 500px;
  width: 390px;
  margin: 0 auto;
  padding: 50px;
  background-color: rgba(90, 90, 90, 0.5);
  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 1); */
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  height: 450px;
  width: 360px;

  /*top: 50%;
  left: 50%; */
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: var(--light);
  line-height: 1.2;
  text-align: center;
}

.login100-form-title i {
  font-size: 40px;
}

/*------------------------------------------------------------------
[ Input ]*/

/* error  */
.info {
  font-family: "IBM";
  width: 25vw;
  padding: 12px;
  position: fixed; /* Change position to fixed */
  top: 1vh;
  left: 50%;
  transform: translateX(-50%); /* Simplify translation */
  z-index: 1000; /* Increase z-index to ensure it overlays other content */
  display: none;
  margin-top: 10px;

  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #303030;
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: 0px 0px 5px -3px #111;
}

.show-flex {
  display: flex !important;
}

.success {
  background-color: #1f9139; /* Green color */
}

.error {
  background-color: #960d1a;
  /* Red color */
}
.input100.error {
  border-bottom-color: #ff3e3e;
}

.error-message {
  color: #ff3e3e;
  font-size: 12px;
  margin-top: -30px;
  margin-bottom: 15px;
}

.info__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.info__icon path {
  fill: #fff;
}

.info__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  margin-left: 25px;
}

.info__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.info__close path {
  fill: #fff;
}

@media only screen and (max-width: 1000px) {
  .info {
    width: 90%;
  }
}
.wrap-input100 {
  width: 90%;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 37px;
}
.wrap-input100-pass {
  width: 95%;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 37px;
}
.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: var(--light) !important;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  min-width: 2px;
  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #fd2121, #0a0a0a);
  background: -o-linear-gradient(left, #fd2121, #0a0a0a);
  background: -moz-linear-gradient(left, #fd2121, #0a0a0a);
  background: linear-gradient(left, #fd2121, #0a0a0a);
}
.focus-input100:focus::before {
  width: 100%; /* Expands to full width of the input */
}

@media (max-width: 768px) {
  .focus-input100:focus::before {
    width: 90%; /* Adjust to be slightly smaller on smaller screens */
  }
}

@media (max-width: 480px) {
  .focus-input100:focus::before {
    width: 80%; /* Further reduce width on very small screens */
  }
}
.focus-input100::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #dfdfdf;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #fd2121, #0a0a0a);
  color: -o-linear-gradient(left, #fd2121, #0a0a0a);
  color: -moz-linear-gradient(left, #fd2121, #0a0a0a);
  color: linear-gradient(left, #fd2121, #0a0a0a);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #fd2121, #0a0a0a);
  color: -o-linear-gradient(left, #fd2121, #0a0a0a);
  color: -moz-linear-gradient(left, #fd2121, #0a0a0a);
  color: linear-gradient(left, #fd2121, #0a0a0a);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #f51b1b;
  background: -webkit-linear-gradient(
    right,
    #fd2121,
    #0a0a0a,
    #fd2121,
    #0a0a0a
  );
  background: -o-linear-gradient(right, #fd2121, #0a0a0a, #fd2121, #0a0a0a);
  background: -moz-linear-gradient(right, #fd2121, #0a0a0a, #fd2121, #0a0a0a);
  background: linear-gradient(right, #fd2121, #0a0a0a, #fd2121, #0a0a0a);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all 0.3s ease;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}
.login100-form-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.main {
  background-color: black;
}

.content {
  width: 85%;
  height: fit-content;
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
}

.heading {
  text-align: center;
}

/* mobile screen  */
@media (max-width: 768px) {
  .wrap-login100 {
    width: 90%;
    padding: 30px;
  }

  .login100-form-title {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .wrap-input100 {
    width: 100%;
  }

  .input100 {
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  #particles-js {
    background-size: cover;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrap-login100 {
  animation: fadeIn 0.5s ease-in-out;
}
